In [6]:
#!pip install laserembeddings

In [7]:
#!pip install openpyxl

In [1]:
from laserembeddings import Laser

In [2]:
import pandas as pd
import numpy as np
import os

In [21]:
data=pd.read_excel("stimuli_LASER.xlsx")

In [4]:
laser=Laser()
word=data['word'].tolist()
lang=data['lang'].tolist()

embeddings = laser.embed_sentences(
    word, lang)

In [17]:
embeddings

array([[ 1.3955962e-03, -6.8236748e-04, -1.7130580e-03, ...,
        -4.6227284e-04, -5.0502392e-03, -3.2544208e-03],
       [ 6.6147167e-03, -2.8979585e-03,  8.1701559e-04, ...,
         3.3643559e-02,  1.9294061e-02, -1.1439168e-02],
       [ 6.3669737e-03, -5.8640132e-04, -1.2268004e-03, ...,
         1.7120143e-02, -2.4519828e-03, -3.2616204e-03],
       ...,
       [-8.5072406e-04,  3.0981080e-04,  9.8562276e-04, ...,
        -3.7776146e-04,  1.7497368e-02, -2.5485440e-03],
       [-1.6273777e-03,  2.2249225e-05, -1.4443477e-04, ...,
        -4.3541664e-04, -1.8021052e-03,  2.2237783e-02],
       [-3.2326669e-04, -2.5949548e-06,  4.0287260e-04, ...,
         2.3961092e-04,  4.0659164e-03,  6.9823465e-03]], dtype=float32)

# Visualize word embeddings

https://www.kaggle.com/code/jeffd23/visualizing-word-vectors-with-t-sne/notebook

https://www.mathworks.com/help/textanalytics/ug/visualize-word-embedding-using-text-scatter-plot.html

cf PCA (https://towardsdatascience.com/pca-using-python-scikit-learn-e653f8989e60)

In [ ]:
#!pip install matplotlib

In [ ]:
#!pip install --ignore-installed Pillow==9.0.0

https://medium.com/analytics-vidhya/word-embedding-using-python-63770334841

In [6]:
# dimentionality reduction using PCA
from sklearn.decomposition import PCA
pca = PCA(n_components=2)
# running the transformations
result = pca.fit_transform(embeddings)

In [23]:
# creating a dataframe from the results

df = pd.DataFrame(result, columns=list('XY'))

# adding a columns for the corresponding words
df['Words'] = data['word_E'].tolist()

# converting the lower case text to title case
df['Words'] = df['Words'].str.title()
df['Group'] = ['English noun']*8 + ['Korean noun']*8 + ['English verb']*8 + ['Korean verb']*8

In [8]:
# Nouns
n_dist=[]
kor=[]
eng=[]
for i in range(0,8):
    dist=np.linalg.norm(result[i]-result[i+8])
    #print(word[i], word[i+8], "{:.2f}".format(dist))
    n_dist.append(dist)
    eng.append(word[i])
    kor.append(word[i+8])

print("{:.2f}".format(sum(n_dist)/len(n_dist)))

0.20

In [9]:
n_dist = ["{:.2f}".format(value) for value in n_dist]
def highlight_max(x):
    return ['' for v in x]

data = {'English': eng, 'Korean': kor, 'Distance': n_dist}
df1 = pd.DataFrame(data)
df1.style.apply(highlight_max)

In [10]:
# Verbs
v_dist=[]
kor=[]
eng=[]

for i in range(16,24):
    dist=np.linalg.norm(result[i]-result[i+8])
    #print(word[i], word[i+8], "{:.2f}".format(dist))
    v_dist.append(dist)
    eng.append(word[i])
    kor.append(word[i+8])

print("{:.2f}".format(sum(v_dist)/len(v_dist)))

0.32

In [11]:
v_dist = ["{:.2f}".format(value) for value in v_dist]
def highlight_max(x):
    return ['' for v in x]

data = {'English': eng, 'Korean': kor, 'Distance': v_dist}
df2 = pd.DataFrame(data)
df2.style.apply(highlight_max)

In [12]:
import plotly.express as px

# plotting a scatter plot
#fig = px.scatter(df, x="X", y="Y", text="Words", log_x=True, size_max=60)
fig = px.scatter(df, x="X", y="Y", text="Words", size_max=60, color="Group")

# adjusting the text position
fig.update_traces(textposition='top center')

# setting up the height and title
fig.update_layout(
    height=900,
    width=1200,
    title_text='Word embedding chart',
    font = dict(size=14.5),
    legend=dict(
    yanchor="top",
    y=0.99,
    xanchor="left",
    x=0.01))

# displaying the figure
fig.show()

ValueError: Value of 'x' is not the name of a column in 'data_frame'. Expected one of ['English', 'Korean', 'Distance'] but received: X